{% extends "classpath:/templates/layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        <form class="form-signin" role="form" action="/login" method="post">
          <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="inputEmail" class="sr-only">Nome de Usuário</label>
          <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Nome de Usuário" required>
          <label for="inputPassword" class="sr-only">Senha</label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        {% if (error.isPresent()) %}
            <p>Nome de usuário ou senha estão inválido.</p>
        {% endif %}
    </div>
{% endblock %}