{% extends "classpath:/templates/layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        <form method="post" action="/signup">
            <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
            <fieldset class="form-group">
                <label for="nomepesquisador">Nome Completo</label>
                <input type="text" class="form-control" id="nomepesquisador" name="nomepesquisador" placeholder="Nome Completo">
                <small class="text-muted">Ex.: Fulano Da Silva</small>
            </fieldset>
            <fieldset class="form-group">
                <label for="nomeusuario">Nome de Usu치rio</label>
                <input type="text" class="form-control" id="nomeusuario" name="nomeusuario" placeholder="Nome de Usu치rio">
                <small class="text-muted">Nome de usu치rio necess치rio para fazer login no sistema</small>
            </fieldset>
            <fieldset class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                <small class="text-muted">Senha para fazer login no sistema</small>
            </fieldset>
            <button type="submit" class="btn btn-primary pull-xs-right">SignUp</button>
            <span class="clearfix"></span>
            <hr>
        </form>



    </div><!--/.container-->
{% endblock %}