{% extends "classpath:/templates/layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="pull-xs-right hidden-sm-up">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search-value" placeholder="Pesquisar por ...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary search-trigger" type="button" >Pesquisar</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="publicacoes-container"></div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>
    </div><!--/.container-->
{% endblock %}